<h2>Lista de autores</h1>

<table class="table table-hover">
	<thead>
  		<tr>
    		<th>Nome</th>
    		<th></th>
    		<th></th>
  		</tr>
	</thead>
	<tbody>
<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= link_to 'Editar', edit_author_path(author) %></td>
    <td><%= link_to 'Deletar', author, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Novo Autor', new_author_path %>
